[uwsgi]
module=main
enable-threads = true
chdir = {{ mat2_web_docroot }}
callable = app
wsgi-file = main.py
master = true
workers = 1

uid = {{ mat2_web_user }}
gid = {{ mat2_web_group }}

plugins = python3

# kill stalled processes
harakiri = {{ mat2_web_uwsgi_harakiri_timeout }}
die-on-term = true

# disable logging for privacy reasons
disable-logging = true

{% if mat2_web_uwsgi_unix_socket %}
socket = mat2-web.sock
chmod-socket = 774
{% endif %}
{% if mat2_web_uwsgi_wsgi_socket %}
socket = {{ mat2_web_uwsgi_wsgi_ip }}:{{ mat2_web_uwsgi_wsgi_port }}
{% endif %}
{% if mat2_web_uwsgi_http_socket %}
http-socket = {{ mat2_web_uwsgi_http_ip }}:{{ mat2_web_uwsgi_http_port }}
{% endif %}
